<html>
<head>
<META http-equiv="Content-Type" content="text/html">
<style type="text/css">
		h1, h2, h3, h4, h5, h6 {
			font-family : segoe ui;
			color : black;
			background-color : #EDE7D9;
			padding: 0.3em;
		}

		h1 {
			font-size: 1.2em;
		}		

		h2 {
			font-size: 1.2em;
		}

		body {
			font-family : segoe ui;
		}

		td, th {
			padding: 0.5em;
			text-align : left;
			width: 10em;
		}
		th {
			background-color : #EEEEEE;

		}
		th.column1, td.column1 {
			text-align: left;
			width : auto;
		}
		table {
			width : 100%;
			font-size: 0.9em;
		}

		.DRC_summary_header {
			padding-bottom : 0.1em;
			border : 0px solid black;
			width: 100%;
			align: left;
		}

		.DRC_summary_header_col1,
		.DRC_summary_header_col2, 
		.DRC_summary_header_col3 {
			color : black;
			font-size:100%;
			padding : 0em;
			padding-top : 0.2em;
			padding-bottom 0.2em;
			border : 0px solid black;
			vertical-align: top;
			text-align: left;
		}

		.DRC_summary_header_col1 {
			font-weight: bold;
			width: 9em;
		}

		.DRC_summary_header_col2 {
			width: 0.1em;
		
		}

		.DRC_summary_header_col3 {
			width : auto;
		}

		.header_holder {
		    Width = 100%;
		    border = 0px solid green;
		    padding = 0;
		}


		.front_matter, .front_matter_column1, .front_matter_column2, .front_matter_column3
		{
			left : 0;
			top : 0;
			padding: 0em;
			padding-top : 0.1em;
			border : 0px solid black;
			width : 100%;
			vertical-align: top;
			text-align: left;
		}

		.front_matter_column1 {
			width : 8em;
			font-weight: bold;
		}

		.front_matter_column2 {
			width: 0.1em;
		}

		.front_matter_column3 {
			width : auto;
		}

		.total_column1, .total_column {
			font-weight : bold;
		}
		.total_column1 {
			text-align : left;
		}
		.warning, .error {
			color : red;
			font-weight : bold;
		}
		tr.onmouseout_odd {
			background-color : #white;
		}
		tr.onmouseout_even { 
			background-color : #FAFAFA;
		}
		tr.onmouseover_odd, tr.onmouseover_even { 
			background-color : #EEEEEE;
		} 
		a:link, a:visited, .q a:link,.q a:active,.q {
			color: #21489e; 
		}
		a:link.callback, a:visited.callback { 
			color: #21489e;
		}
		a:link.customize, a:visited.customize {
			color: #C0C0C0;
			position: absolute; 
			right: 10px;
		}	
		p.contents_level1 {
			font-weight : bold;
			font-size : 110%;
			margin : 0.5em;
		}
		p.contents_level2 {
			position : relative;
			left : 20px;
			margin : 0.5em;
		}
	</style><script type="text/javascript">
		function coordToMils(coord) {
			var number = coord / 10000;
			
			if (number != number.toFixed(3))
				number = number.toFixed(3);

			return number + 'mil'
		}

		function coordToMM(coord) {
			var number = 0.0254 * coord / 10000;
			
			if (number != number.toFixed(4))
				number = number.toFixed(4);
			
			return number + 'mm'
		}
	
		function convertCoord(coordNode, units) {
			for (var i = 0; i < coordNode.childNodes.length; i++) {
				coordNode.removeChild(coordNode.childNodes[i]);
			}

			var coord = coordNode.getAttribute('value');
			if (coord != null) {
				if (units == 'mm') {
					textNode = document.createTextNode(coordToMM(coord));
					coordNode.appendChild(textNode);
				} else if (units == 'mil') {
					textNode = document.createTextNode(coordToMils(coord));		
					coordNode.appendChild(textNode);	
				}
			}
		}
	
		function convertUnits(unitNode, units) {
			for (var i = 0; i < unitNode.childNodes.length; i++) {
				unitNode.removeChild(unitNode.childNodes[i]);		
			}
		
			textNode = document.createTextNode(units); 
			unitNode.appendChild(textNode);
		}
	
		function changeUnits(radio_input, units) {
			if (radio_input.checked) {
			
				var elements = document.getElementsByName('coordinate');
				if (elements) {
					for (var i = 0; i < elements.length; i++) {
						convertCoord(elements[i], units);
					}
				}
	
				var elements = document.getElementsByName('units');
				if (elements) {
					for (var i = 0; i < elements.length; i++) {
						convertUnits(elements[i], units);
					}
				}
			}
		}
	</script><title>Design Rule Verification Report</title>
</head>
<body onload=""><img ALT="Altium" src="
			file://C:\Users\Public\Documents\Altium\AD25\Templates\AD_logo.png
		"><h1>Design Rule Verification Report</h1>
<table class="header_holder">
<td class="column1">
<table class="front_matter">
<tr class="front_matter">
<td class="front_matter_column1">Date:</td>
<td class="front_matter_column2"></td>
<td class="front_matter_column3">11/5/2025</td>
</tr>
<tr class="front_matter">
<td class="front_matter_column1">Time:</td>
<td class="front_matter_column2"></td>
<td class="front_matter_column3">1:14:16 AM</td>
</tr>
<tr class="front_matter">
<td class="front_matter_column1">Elapsed Time:</td>
<td class="front_matter_column2"></td>
<td class="front_matter_column3">00:00:00</td>
</tr>
<tr class="front_matter">
<td class="front_matter_column1">Filename:</td>
<td class="front_matter_column2"></td>
<td class="front_matter_column3"><a href="file:///C:\Users\agast\Documents\MROVER 2025\mrover-electrical\boards\PDB-26\Layouts\Daughter_card\Daughter_Card.PcbDoc" class="file"><acronym title="C:\Users\agast\Documents\MROVER 2025\mrover-electrical\boards\PDB-26\Layouts\Daughter_card\Daughter_Card.PcbDoc">C:\Users\agast\Documents\MROVER 2025\mrover-electrical\boards\PDB-26\Layouts\Daughter_card\Daughter_Card.PcbDoc</acronym></a></td>
</tr>
</table>
</td>
<td class="column2">
<table class="DRC_summary_header">
<tr>
<td class="DRC_summary_header_col1">Warnings:</td>
<td class="DRC_summary_header_col2"></td>
<td class="DRC_summary_header_col3">0</td></tr>
<tr>
<td class="DRC_summary_header_col1">Rule Violations:</td>
<td class="DRC_summary_header_col2"></td>
<td class="DRC_summary_header_col3" style="color : red">13</td></tr>
</table>
</td>
</table><a name="IDR2AJGHUC5RP0JP5ZXMH3I2ED5LSKG4HZWMBAHHNIGCPEQNMQJVED"><h2>Summary</h2></a><table>
<tr>
<th class="column1">Warnings</th>
<th class="column2">Count</th>
</tr>
<tr>
<td style="font-weight : bold; text-align : right" class="column1">Total</td>
<td style="font-weight : bold" class="column2">0</td>
</tr>
</table><br><table>
<tr>
<th class="column1">Rule Violations</th>
<th class="column2">Count</th>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1"><a href="#IDQEJJ10O3YSSYIYMMTFGDYJ3Z3CL4TO2W0FI0JCVX3YKNOWKK1YD">Clearance Constraint (Gap=0.102mm) (All),(All)</a></td>
<td class="column2">4</td>
</tr>
<tr class="onmouseout_even" onmouseover="className = 'onmouseover_even'" onmouseout="className = 'onmouseout_even'">
<td class="column1"><a href="#IDKETH2AOQMI52JJNMMUZDJWFVFSMSQ1FJ0CKGOEOUXUJYEQIYEJ">Clearance Constraint (Gap=0.127mm) (IsStitchingVia and InNet('GND')),((IsVia and (Not IsStitchingVia)) Or IsPad)</a></td>
<td class="column2">0</td>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1"><a href="#IDNDDGI4UETDLSFIC0HVB01MGDCNRTRTM5IJGSJ4LQ0U350J2MIC0J">Short-Circuit Constraint (Allowed=No) (All),(All)</a></td>
<td class="column2">4</td>
</tr>
<tr class="onmouseout_even" onmouseover="className = 'onmouseover_even'" onmouseout="className = 'onmouseout_even'">
<td class="column1"><a href="#IDFBCPDJGB5Y20OA3SCCKAYRNCWJV0IQN3GUBTUMPVRSZMA001QZ2D">Un-Routed Net Constraint ( (All) )</a></td>
<td class="column2">2</td>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1"><a href="#IDEWVRRG0JHWWWJFEBIY21ZK5VBMCEXOCQAVLD50IS5IM34XGTKNF">Modified Polygon (Allow modified: No), (Allow shelved: No)</a></td>
<td class="column2">0</td>
</tr>
<tr class="onmouseout_even" onmouseover="className = 'onmouseover_even'" onmouseout="className = 'onmouseout_even'">
<td class="column1"><a href="#IDKEEEMAPCLQCTCGOOZ1CEJB0LGF1RPMYSRFF31LPLOW2X4GIVIJMP">Width Constraint (Min=0.102mm) (Max=0.508mm) (Preferred=0.254mm) (All)</a></td>
<td class="column2">0</td>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1"><a href="#IDP2255SEO3REPP3TRECYPNXS1CBQCMYZTE4UHNIFIR5CI5CYE2XF">Routing Topology Rule(Topology=Shortest) (All)</a></td>
<td class="column2">0</td>
</tr>
<tr class="onmouseout_even" onmouseover="className = 'onmouseover_even'" onmouseout="className = 'onmouseout_even'">
<td class="column1"><a href="#ID2DLR1LVFXW2SESKOT1ROICL4XMI0SXP3G4Q03RGZWSSVEWZC2KYK">Power Plane Connect Rule(Direct Connect )(Expansion=0.508mm) (Conductor Width=0.254mm) (Air Gap=0.254mm) (Entries=4) (InPadClass('PowerPads'))</a></td>
<td class="column2">0</td>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1"><a href="#IDLUHWLVI3YCKUFTWRDNKUZWFKOMOUW4Z0JNPWPZKSPPJ5U0JZMNZD">Power Plane Connect Rule(Direct Connect )(Expansion=0.3mm) (Conductor Width=0.102mm) (Air Gap=0.102mm) (Entries=4) (All)</a></td>
<td class="column2">0</td>
</tr>
<tr class="onmouseout_even" onmouseover="className = 'onmouseover_even'" onmouseout="className = 'onmouseout_even'">
<td class="column1"><a href="#IDYPTTYWY1ERU4GTID2VG5ISSQB5WCNV11CWGNSHPMUIMWHHZWKJH">Minimum Annular Ring (Minimum=0.076mm) (All)</a></td>
<td class="column2">0</td>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1"><a href="#IDKP2HDCIHUELOEPVFIKF3UTG5L0PSADG05UIWEP1PCHCYQ43IP3F">Hole Size Constraint (Min=0.2mm) (Max=6.3mm) (All)</a></td>
<td class="column2">0</td>
</tr>
<tr class="onmouseout_even" onmouseover="className = 'onmouseover_even'" onmouseout="className = 'onmouseout_even'">
<td class="column1"><a href="#IDTOPK0TDKXLMTMJGCXRP0KPEOCFZ2K1YYDQT2U2JI4SYWM02FRPIH">Hole To Hole Clearance (Gap=0.25mm) (All),(All)</a></td>
<td class="column2">0</td>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1"><a href="#IDUSPSULJ0MZXMLKVE2VVCY4TMVILL2KNBZZBNVWKJSFZFZ0IUNRS">Minimum Solder Mask Sliver (Gap=0mm) (All),(All)</a></td>
<td class="column2">0</td>
</tr>
<tr class="onmouseout_even" onmouseover="className = 'onmouseover_even'" onmouseout="className = 'onmouseout_even'">
<td class="column1"><a href="#IDMHCJ5N1SUZCTEHYYV0FQKWLOQK2GO3114TUTYO35ZF0I3U1VRVM">Silk To Solder Mask (Clearance=0.102mm) (IsPad),(All)</a></td>
<td class="column2">2</td>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1"><a href="#IDTVQDTRHZB55YEHULNA4YZCACGMY5B5M1R3SQ40BFBR0QFLYZC24D">Silk to Silk (Clearance=0mm) (All),(All)</a></td>
<td class="column2">0</td>
</tr>
<tr class="onmouseout_even" onmouseover="className = 'onmouseover_even'" onmouseout="className = 'onmouseout_even'">
<td class="column1"><a href="#IDQKDWSZLML4RKNR2D5AQSF4OU5CT5XRSTTWX2TABCGRKI2C4LCWJN">Net Antennae (Tolerance=0mm) (All)</a></td>
<td class="column2">0</td>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1"><a href="#IDTBLJRTLCDRCX4MTBFD4UVWBXKRGJJLJIAZXYXNM24JGH3U31NGK">Board Clearance Constraint (Gap=0mm) (All)</a></td>
<td class="column2">1</td>
</tr>
<tr class="onmouseout_even" onmouseover="className = 'onmouseover_even'" onmouseout="className = 'onmouseout_even'">
<td class="column1"><a href="#IDD4KELFMFRZFROBJSQIQL1GCRVGTYPNYSLYTWHUF1V0T0DJL3RSEK">Height Constraint (Min=0mm) (Max=1816.048mm) (Prefered=12.7mm) (All)</a></td>
<td class="column2">0</td>
</tr>
<tr>
<td style="font-weight : bold; text-align : right" class="column1">Total</td>
<td style="font-weight : bold" class="column2">13</td>
</tr>
</table><br><a name="IDQEJJ10O3YSSYIYMMTFGDYJ3Z3CL4TO2W0FI0JCVX3YKNOWKK1YD"><table>
<tr>
<th style="text-align : left" colspan="1" class="rule">Clearance Constraint (Gap=0.102mm) (All),(All)</th>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1"><a href="dxpprocess://PCB:Zoom?document=C:\Users\agast\Documents\MROVER 2025\mrover-electrical\boards\PDB-26\Layouts\Daughter_card\Daughter_Card.PcbDoc;viewname=PCBEditor;Action=AREA_DYNAMICZOOM|Location1.X=6167.917mil|Location2.X=6171.583mil|Location1.Y=1579.917mil|Location2.Y=1583.583mil|Absolute=True" class="callback"><acronym title="dxpprocess://PCB:Zoom?document=C:\Users\agast\Documents\MROVER 2025\mrover-electrical\boards\PDB-26\Layouts\Daughter_card\Daughter_Card.PcbDoc;viewname=PCBEditor;Action=AREA_DYNAMICZOOM|Location1.X=6167.917mil|Location2.X=6171.583mil|Location1.Y=1579.917mil|Location2.Y=1583.583mil|Absolute=True">Clearance Constraint: (Collision &lt; 0.102mm) Between Pad J1-01(155.397mm,38.862mm) on Multi-Layer And Polygon Region (7 hole(s)) Bottom Layer </acronym></a><br></td>
</tr>
<tr class="onmouseout_even" onmouseover="className = 'onmouseover_even'" onmouseout="className = 'onmouseout_even'">
<td class="column1"><a href="dxpprocess://PCB:Zoom?document=C:\Users\agast\Documents\MROVER 2025\mrover-electrical\boards\PDB-26\Layouts\Daughter_card\Daughter_Card.PcbDoc;viewname=PCBEditor;Action=AREA_DYNAMICZOOM|Location1.X=5960.167mil|Location2.X=5963.833mil|Location1.Y=1528.167mil|Location2.Y=1531.833mil|Absolute=True" class="callback"><acronym title="dxpprocess://PCB:Zoom?document=C:\Users\agast\Documents\MROVER 2025\mrover-electrical\boards\PDB-26\Layouts\Daughter_card\Daughter_Card.PcbDoc;viewname=PCBEditor;Action=AREA_DYNAMICZOOM|Location1.X=5960.167mil|Location2.X=5963.833mil|Location1.Y=1528.167mil|Location2.Y=1531.833mil|Absolute=True">Clearance Constraint: (Collision &lt; 0.102mm) Between Pad J1-02(151.435mm,38.862mm) on Multi-Layer And Polygon Region (0 hole(s)) Top Layer </acronym></a><br></td>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1"><a href="dxpprocess://PCB:Zoom?document=C:\Users\agast\Documents\MROVER 2025\mrover-electrical\boards\PDB-26\Layouts\Daughter_card\Daughter_Card.PcbDoc;viewname=PCBEditor;Action=AREA_DYNAMICZOOM|Location1.X=6260.417mil|Location2.X=6264.083mil|Location1.Y=4241.417mil|Location2.Y=4245.083mil|Absolute=True" class="callback"><acronym title="dxpprocess://PCB:Zoom?document=C:\Users\agast\Documents\MROVER 2025\mrover-electrical\boards\PDB-26\Layouts\Daughter_card\Daughter_Card.PcbDoc;viewname=PCBEditor;Action=AREA_DYNAMICZOOM|Location1.X=6260.417mil|Location2.X=6264.083mil|Location1.Y=4241.417mil|Location2.Y=4245.083mil|Absolute=True">Clearance Constraint: (Collision &lt; 0.102mm) Between Pad J2-01(160.376mm,109.093mm) on Multi-Layer And Polygon Region (7 hole(s)) Bottom Layer </acronym></a><br></td>
</tr>
<tr class="onmouseout_even" onmouseover="className = 'onmouseover_even'" onmouseout="className = 'onmouseout_even'">
<td class="column1"><a href="dxpprocess://PCB:Zoom?document=C:\Users\agast\Documents\MROVER 2025\mrover-electrical\boards\PDB-26\Layouts\Daughter_card\Daughter_Card.PcbDoc;viewname=PCBEditor;Action=AREA_DYNAMICZOOM|Location1.X=6468.167mil|Location2.X=6471.833mil|Location1.Y=4293.167mil|Location2.Y=4296.833mil|Absolute=True" class="callback"><acronym title="dxpprocess://PCB:Zoom?document=C:\Users\agast\Documents\MROVER 2025\mrover-electrical\boards\PDB-26\Layouts\Daughter_card\Daughter_Card.PcbDoc;viewname=PCBEditor;Action=AREA_DYNAMICZOOM|Location1.X=6468.167mil|Location2.X=6471.833mil|Location1.Y=4293.167mil|Location2.Y=4296.833mil|Absolute=True">Clearance Constraint: (Collision &lt; 0.102mm) Between Pad J2-02(164.338mm,109.093mm) on Multi-Layer And Polygon Region (0 hole(s)) Top Layer </acronym></a><br></td>
</tr>
</table></a><hr color="#EEEEEE"><a href="#top" style="font-size: 0.9em">Back to top</a><br><br><a name="IDNDDGI4UETDLSFIC0HVB01MGDCNRTRTM5IJGSJ4LQ0U350J2MIC0J"><table>
<tr>
<th style="text-align : left" colspan="1" class="rule">Short-Circuit Constraint (Allowed=No) (All),(All)</th>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1"><a href="dxpprocess://PCB:Zoom?document=C:\Users\agast\Documents\MROVER 2025\mrover-electrical\boards\PDB-26\Layouts\Daughter_card\Daughter_Card.PcbDoc;viewname=PCBEditor;Action=AREA_DYNAMICZOOM|Location1.X=6043.315mil|Location2.X=6192.686mil|Location1.Y=1455.314mil|Location2.Y=1604.686mil|Absolute=True" class="callback"><acronym title="dxpprocess://PCB:Zoom?document=C:\Users\agast\Documents\MROVER 2025\mrover-electrical\boards\PDB-26\Layouts\Daughter_card\Daughter_Card.PcbDoc;viewname=PCBEditor;Action=AREA_DYNAMICZOOM|Location1.X=6043.315mil|Location2.X=6192.686mil|Location1.Y=1455.314mil|Location2.Y=1604.686mil|Absolute=True">Short-Circuit Constraint: Between Pad J1-01(155.397mm,38.862mm) on Multi-Layer And Polygon Region (7 hole(s)) Bottom Layer Location : [X = 155.397mm][Y = 38.862mm]</acronym></a><br></td>
</tr>
<tr class="onmouseout_even" onmouseover="className = 'onmouseover_even'" onmouseout="className = 'onmouseout_even'">
<td class="column1"><a href="dxpprocess://PCB:Zoom?document=C:\Users\agast\Documents\MROVER 2025\mrover-electrical\boards\PDB-26\Layouts\Daughter_card\Daughter_Card.PcbDoc;viewname=PCBEditor;Action=AREA_DYNAMICZOOM|Location1.X=5887.158mil|Location2.X=6036.842mil|Location1.Y=1455.158mil|Location2.Y=1604.842mil|Absolute=True" class="callback"><acronym title="dxpprocess://PCB:Zoom?document=C:\Users\agast\Documents\MROVER 2025\mrover-electrical\boards\PDB-26\Layouts\Daughter_card\Daughter_Card.PcbDoc;viewname=PCBEditor;Action=AREA_DYNAMICZOOM|Location1.X=5887.158mil|Location2.X=6036.842mil|Location1.Y=1455.158mil|Location2.Y=1604.842mil|Absolute=True">Short-Circuit Constraint: Between Pad J1-02(151.435mm,38.862mm) on Multi-Layer And Polygon Region (0 hole(s)) Top Layer Location : [X = 151.435mm][Y = 38.862mm]</acronym></a><br></td>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1"><a href="dxpprocess://PCB:Zoom?document=C:\Users\agast\Documents\MROVER 2025\mrover-electrical\boards\PDB-26\Layouts\Daughter_card\Daughter_Card.PcbDoc;viewname=PCBEditor;Action=AREA_DYNAMICZOOM|Location1.X=6239.314mil|Location2.X=6388.685mil|Location1.Y=4220.315mil|Location2.Y=4369.685mil|Absolute=True" class="callback"><acronym title="dxpprocess://PCB:Zoom?document=C:\Users\agast\Documents\MROVER 2025\mrover-electrical\boards\PDB-26\Layouts\Daughter_card\Daughter_Card.PcbDoc;viewname=PCBEditor;Action=AREA_DYNAMICZOOM|Location1.X=6239.314mil|Location2.X=6388.685mil|Location1.Y=4220.315mil|Location2.Y=4369.685mil|Absolute=True">Short-Circuit Constraint: Between Pad J2-01(160.376mm,109.093mm) on Multi-Layer And Polygon Region (7 hole(s)) Bottom Layer Location : [X = 160.376mm][Y = 109.093mm]</acronym></a><br></td>
</tr>
<tr class="onmouseout_even" onmouseover="className = 'onmouseover_even'" onmouseout="className = 'onmouseout_even'">
<td class="column1"><a href="dxpprocess://PCB:Zoom?document=C:\Users\agast\Documents\MROVER 2025\mrover-electrical\boards\PDB-26\Layouts\Daughter_card\Daughter_Card.PcbDoc;viewname=PCBEditor;Action=AREA_DYNAMICZOOM|Location1.X=6395.158mil|Location2.X=6544.842mil|Location1.Y=4220.158mil|Location2.Y=4369.842mil|Absolute=True" class="callback"><acronym title="dxpprocess://PCB:Zoom?document=C:\Users\agast\Documents\MROVER 2025\mrover-electrical\boards\PDB-26\Layouts\Daughter_card\Daughter_Card.PcbDoc;viewname=PCBEditor;Action=AREA_DYNAMICZOOM|Location1.X=6395.158mil|Location2.X=6544.842mil|Location1.Y=4220.158mil|Location2.Y=4369.842mil|Absolute=True">Short-Circuit Constraint: Between Pad J2-02(164.338mm,109.093mm) on Multi-Layer And Polygon Region (0 hole(s)) Top Layer Location : [X = 164.338mm][Y = 109.093mm]</acronym></a><br></td>
</tr>
</table></a><hr color="#EEEEEE"><a href="#top" style="font-size: 0.9em">Back to top</a><br><br><a name="IDFBCPDJGB5Y20OA3SCCKAYRNCWJV0IQN3GUBTUMPVRSZMA001QZ2D"><table>
<tr>
<th style="text-align : left" colspan="1" class="rule">Un-Routed Net Constraint ( (All) )</th>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1"><a href="dxpprocess://PCB:Zoom?document=C:\Users\agast\Documents\MROVER 2025\mrover-electrical\boards\PDB-26\Layouts\Daughter_card\Daughter_Card.PcbDoc;viewname=PCBEditor;Action=AREA_DYNAMICZOOM|Location1.X=5900.5mil|Location2.X=6172.703mil|Location1.Y=1475.297mil|Location2.Y=1850mil|Absolute=True" class="callback"><acronym title="dxpprocess://PCB:Zoom?document=C:\Users\agast\Documents\MROVER 2025\mrover-electrical\boards\PDB-26\Layouts\Daughter_card\Daughter_Card.PcbDoc;viewname=PCBEditor;Action=AREA_DYNAMICZOOM|Location1.X=5900.5mil|Location2.X=6172.703mil|Location1.Y=1475.297mil|Location2.Y=1850mil|Absolute=True">Un-Routed Net Constraint: Net VBAT Between Pad F1-1(151.994mm,45.085mm) on Top Layer And Pad J1-01(155.397mm,38.862mm) on Multi-Layer </acronym></a><br></td>
</tr>
<tr class="onmouseout_even" onmouseover="className = 'onmouseover_even'" onmouseout="className = 'onmouseout_even'">
<td class="column1"><a href="dxpprocess://PCB:Zoom?document=C:\Users\agast\Documents\MROVER 2025\mrover-electrical\boards\PDB-26\Layouts\Daughter_card\Daughter_Card.PcbDoc;viewname=PCBEditor;Action=AREA_DYNAMICZOOM|Location1.X=6259.297mil|Location2.X=6569mil|Location1.Y=3960mil|Location2.Y=4349.703mil|Absolute=True" class="callback"><acronym title="dxpprocess://PCB:Zoom?document=C:\Users\agast\Documents\MROVER 2025\mrover-electrical\boards\PDB-26\Layouts\Daughter_card\Daughter_Card.PcbDoc;viewname=PCBEditor;Action=AREA_DYNAMICZOOM|Location1.X=6259.297mil|Location2.X=6569mil|Location1.Y=3960mil|Location2.Y=4349.703mil|Absolute=True">Un-Routed Net Constraint: Net 24V_OUT_FUSED Between Pad J2-01(160.376mm,109.093mm) on Multi-Layer And Pad F2-2(164.732mm,102.489mm) on Top Layer </acronym></a><br></td>
</tr>
</table></a><hr color="#EEEEEE"><a href="#top" style="font-size: 0.9em">Back to top</a><br><br><a name="IDMHCJ5N1SUZCTEHYYV0FQKWLOQK2GO3114TUTYO35ZF0I3U1VRVM"><table>
<tr>
<th style="text-align : left" colspan="1" class="rule">Silk To Solder Mask (Clearance=0.102mm) (IsPad),(All)</th>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1"><a href="dxpprocess://PCB:Zoom?document=C:\Users\agast\Documents\MROVER 2025\mrover-electrical\boards\PDB-26\Layouts\Daughter_card\Daughter_Card.PcbDoc;viewname=PCBEditor;Action=AREA_DYNAMICZOOM|Location1.X=6201.242mil|Location2.X=6206.492mil|Location1.Y=1983.613mil|Location2.Y=1988.863mil|Absolute=True" class="callback"><acronym title="dxpprocess://PCB:Zoom?document=C:\Users\agast\Documents\MROVER 2025\mrover-electrical\boards\PDB-26\Layouts\Daughter_card\Daughter_Card.PcbDoc;viewname=PCBEditor;Action=AREA_DYNAMICZOOM|Location1.X=6201.242mil|Location2.X=6206.492mil|Location1.Y=1983.613mil|Location2.Y=1988.863mil|Absolute=True">Silk To Solder Mask Clearance Constraint: (0.048mm &lt; 0.102mm) Between Pad C10-2(156.789mm,49.53mm) on Top Layer And Text "F1" (157.729mm,50.45mm) on Top Overlay [Top Overlay] to [Top Solder] clearance [0.048mm]</acronym></a><br></td>
</tr>
<tr class="onmouseout_even" onmouseover="className = 'onmouseover_even'" onmouseout="className = 'onmouseout_even'">
<td class="column1"><a href="dxpprocess://PCB:Zoom?document=C:\Users\agast\Documents\MROVER 2025\mrover-electrical\boards\PDB-26\Layouts\Daughter_card\Daughter_Card.PcbDoc;viewname=PCBEditor;Action=AREA_DYNAMICZOOM|Location1.X=6178.97mil|Location2.X=6182.637mil|Location1.Y=2119.82mil|Location2.Y=2123.487mil|Absolute=True" class="callback"><acronym title="dxpprocess://PCB:Zoom?document=C:\Users\agast\Documents\MROVER 2025\mrover-electrical\boards\PDB-26\Layouts\Daughter_card\Daughter_Card.PcbDoc;viewname=PCBEditor;Action=AREA_DYNAMICZOOM|Location1.X=6178.97mil|Location2.X=6182.637mil|Location1.Y=2119.82mil|Location2.Y=2123.487mil|Absolute=True">Silk To Solder Mask Clearance Constraint: (Collision &lt; 0.102mm) Between Pad C2-2(156.375mm,53.34mm) on Top Layer And Text "C18" (156.992mm,53.602mm) on Top Overlay [Top Overlay] to [Top Solder] clearance [0mm]</acronym></a><br></td>
</tr>
</table></a><hr color="#EEEEEE"><a href="#top" style="font-size: 0.9em">Back to top</a><br><br><a name="IDTBLJRTLCDRCX4MTBFD4UVWBXKRGJJLJIAZXYXNM24JGH3U31NGK"><table>
<tr>
<th style="text-align : left" colspan="1" class="rule">Board Clearance Constraint (Gap=0mm) (All)</th>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1"><a href="dxpprocess://PCB:Zoom?document=C:\Users\agast\Documents\MROVER 2025\mrover-electrical\boards\PDB-26\Layouts\Daughter_card\Daughter_Card.PcbDoc;viewname=PCBEditor;Action=AREA_DYNAMICZOOM|Location1.X=5826.539mil|Location2.X=5835.663mil|Location1.Y=3055.759mil|Location2.Y=3064.883mil|Absolute=True" class="callback"><acronym title="dxpprocess://PCB:Zoom?document=C:\Users\agast\Documents\MROVER 2025\mrover-electrical\boards\PDB-26\Layouts\Daughter_card\Daughter_Card.PcbDoc;viewname=PCBEditor;Action=AREA_DYNAMICZOOM|Location1.X=5826.539mil|Location2.X=5835.663mil|Location1.Y=3055.759mil|Location2.Y=3064.883mil|Absolute=True">Board Outline Clearance(Outline Edge): (0.056mm &lt; 0.2mm) Between Board Edge And Text "R3" (148.392mm,77.986mm) on Top Overlay </acronym></a><br></td>
</tr>
</table></a><hr color="#EEEEEE"><a href="#top" style="font-size: 0.9em">Back to top</a><br><br></body>
</html>
